<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
  	<servlet-name>ControllerGradoAcademico</servlet-name>
  	<display-name>ControllerGradoAcademico</display-name>
  	<description></description>
  	<servlet-class>com.unab.edu.Controladores.ControllerGradoAcademico</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ControllerPersona</servlet-name>
  	<display-name>ControllerPersona</display-name>
  	<description></description>
  	<servlet-class>com.unab.edu.Controladores.ControllerPersona</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ControllerMateria</servlet-name>
  	<display-name>ControllerMateria</display-name>
  	<description></description>
  	<servlet-class>com.unab.edu.Controladores.ControllerMateria</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ControllerDocente</servlet-name>
  	<display-name>ControllerDocente</display-name>
  	<description></description>
  	<servlet-class>com.unab.edu.Controladores.ControllerDocente</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ControllerEstudiante</servlet-name>
  	<display-name>ControllerEstudiante</display-name>
  	<description></description>
  	<servlet-class>com.unab.edu.Controladores.ControllerEstudiante</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ControllerLogin</servlet-name>
  	<display-name>ControllerLogin</display-name>
  	<description></description>
  	<servlet-class>com.unab.edu.Controladores.ControllerLogin</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ControllerNotasEstudiante</servlet-name>
  	<display-name>ControllerNotasEstudiante</display-name>
  	<description></description>
  	<servlet-class>com.unab.edu.Controladores.ControllerNotasEstudiante</servlet-class>
  </servlet>
  <servlet>
  	<servlet-name>ControllerRegistroEstudiante</servlet-name>
  	<display-name>ControllerRegistroEstudiante</display-name>
  	<description></description>
  	<servlet-class>com.unab.edu.Controladores.ControllerRegistroEstudiante</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ControllerGradoAcademico</servlet-name>
  	<url-pattern>/ControllerGradoAcademico</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ControllerPersona</servlet-name>
  	<url-pattern>/ControllerPersona</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ControllerMateria</servlet-name>
  	<url-pattern>/ControllerMateria</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ControllerDocente</servlet-name>
  	<url-pattern>/ControllerDocente</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ControllerEstudiante</servlet-name>
  	<url-pattern>/ControllerEstudiante</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ControllerLogin</servlet-name>
  	<url-pattern>/ControllerLogin</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ControllerNotasEstudiante</servlet-name>
  	<url-pattern>/ControllerNotasEstudiante</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
  	<servlet-name>ControllerRegistroEstudiante</servlet-name>
  	<url-pattern>/ControllerRegistroEstudiante</url-pattern>
  </servlet-mapping>
</web-app>
