* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: "Montserrat", sans-serif;
}

body {
	background: #31464F;
}

.header {
	width: 100%;
	height: 100px;
	position: fixed;
	top: 0;
	left: 0;
}

.container {
	width: 90%;
	max-width: 1200px;
	margin: auto;
}

.container .btn-menu {
	padding-top: 10px;
	padding-right: 10px;
}

.container .btn-menu, .logo {
	float: left;
	line-height: 100px;
}

.logo h1 {
	color: #fff;
	font-weight: 400;
	font-size: 22px;
	margin-left: 10px;
}

.container .menu {
	float: right;
	line-height: 100px;
}

.container .menu a {
	display: inline-block;
	padding: 15px;
	line-height: normal;
	text-decoration: none;
	color: #fff;
	transition: all 0.3s ease;
	border-bottom: 2px solid transparent;
	font-size: 15px;
	margin-right: 5px;
}

.container .menu a:hover {
	border-bottom: 2px solid #c7c7c7;
	padding-bottom: 5px;
}

.out-header {
	margin-top: 110px;
}

.out-header .componentes{
	margin: 0 70px;
}

.out-header label{
	color: #ffff;
}

.out-header .controls{
	width: 18%;
	padding: 10px;
	margin-bottom: 14px;
	border: 1px solid #365DA8;
	font-size: 15px;
}

.out-header .controls2{
	width: 13%;
	padding: 10px;
	margin-bottom: 14px;
	border: 1px solid #365DA8;
	font-size: 15px;
}

.out-header .btnEnviarID{
	font-family: "Montserrat", sans-serif;
	font-size: 15px;
	width: 15%;
	background: #3886AA;
	border: none;
	padding: 12px;
	color: #ffff;
	margin: 16px 0;
}

.out-header .btnEnviarNotas{
	font-family: "Montserrat", sans-serif;
	font-size: 15px;
	width: 15%;
	background: #3886AA;
	border: none;
	padding: 12px;
	color: #ffff;
	margin: 16px 0;
}

.out-header .btEnvDa{
	text-align: right;
}

.out-header .tabla{
	margin: 0 70px;
}

table{
	background-color: #ffff;
	text-align: left;
	border-collapse: collapse;
	width: 100%;
}

tbody{
	height: 50px;
	overflow-y: auto;
	width: 100%; 
}

th, td{
	padding: 15px;
}

thead{
	background-color: #3886AA;
	border-bottom: solid 5px #31464F;
	color: #ffff;
}

tr:hover td{
	background-color: #BCD6E2;
}